# As this is a gem, don't commit Gemfile.lock
Gemfile.lock

# Yard is used to generate doc. Don't commit generated yard files.
/.yardoc/
/doc/

# SimpleCov is used to generate code coverage reports. Don't commit generated coverage files.
/coverage/
